[user]
	name = Malte Möser
	email = ilovegit@maltemoeser.de
[core]
	quotepath = false
	excludesfile = /Users/malte/.dotfiles/git/.gitignore_global
	precomposeunicode = true
	editor = vim
	autocrlf = input
[push]
	default = simple
